@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*
{
    font-family: 'Montserrat', Tahoma, sans-serif !important; 
}
a
{
    text-decoration: none;
}
header
{
    background-color:brown;
    height: 75px;
    position:absolute;
    top:60px;
    left:0px;
    width:100%;
}
nav
{
    background-color:#a52a2a;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 60px;
    position:fixed;
    left:0px;
    top:0px;
    padding-top:0px;
    width:100%;
}
h1
{
    font-size:30px;
    text-align:center;
    vertical-align: middle;
    color:white;
}
p
{
    color:white;
    background-color:rgba(0,0,0,0.85)
}
html
{
    background-image: url(../IMAGES/background2.png);
    overflow-x:hidden;
}
body
{
    margin-top:145px;
}

#navFrame
{
    background-color:#a52a2a;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 60px;
    position:fixed;
    left:0px;
    top:0px;
    border:none;
    z-index:300;
    width:100%;
}
#nav
{
    background-image: none !important;
}
#robbiesPlaqueImg
{
    width: 800px;
    height: 500px;
}
#rostrevorMapImg
{
    width: 800px;
    height: 681px;
}

.navButtons
{
    height:40px;
    font-size:15px !important;
    text-align:center;
    padding: 20px 10px 0px 10px;
    color:white;
    margin-top:10px;
}
.navButtons:hover
{
    background-color:black;
}
.homeImg
{
    margin-left:50%;
    transform:translate(-50%,0);
}