@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


*
{
    font-family: 'Montserrat', Tahoma, sans-serif !important; 
}
a
{
    text-decoration: none;
}
header
{
    background-color:brown;
    height: 75px;
    position:absolute;
    top:60px;
    left:0px;
    width:100%;
}
nav
{
    background-color:#a52a2a;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 60px;
    position:fixed;
    left:0px;
    top:0px;
    padding-top:0px;
    width:100%;
}
h1
{
    font-size: 30px !important;
}

h1, h3, #bibliographySubtitle
{
    text-align:center;
    vertical-align: middle;
    color:white;
    font-style: normal !important;
    font-size:25px;
}
p, ul
{
    color:white;
    background-color:rgba(0,0,0,0.85);
    font-size:20px;
}
html
{
    background-color:#6E260E;
    background-image: url(../IMAGES/background2.png);
    overflow-x:hidden;
}
figcaption
{
    text-align: center;
}
span 
{
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-style: italic;
}
body
{
    margin-top:145px;
}
td, tr
{
    padding:20px 20px 20px;
    border:black solid 2px;
    font-size:20px;
}
table
{
    border-collapse: collapse;
    margin-left:50%;
    transform:translate(-50%,0);
}

#navFrame
{
    background-color:#a52a2a;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 60px;
    position:fixed;
    left:0px;
    top:0px;
    border:none;
    z-index:300;
    width:100%;
}
#nav
{
    background-image: none !important;
}
#robbiesPlaqueImg
{
    width: 800px;
    height: 500px;
}
#rostrevorMapImg
{
    width: 800px;
    height: 681px;
}
#ackOfCountry
{
    width:50vw;
    height:50vh;
    position:absolute;
    background-color: blue;
    margin-left:50%;
    transform:translate(-50%,0);
    z-index:500;
    border:darkblue 20px solid;
}
#dimmer
{
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    position:absolute;
    background-color:rgba(0,0,0,0.85);
    z-index:499;
}

.navButtons
{
    height:40px;
    font-size:15px !important;
    text-align:center;
    padding: 20px 10px 0px 10px;
    color:white;
    margin-top:10px;
}
.navButtons:hover
{
    background-color:black;
}
.homeImg
{
    margin-left:50%;
    transform:translate(-50%,0);
    color:white;
    background-color:rgba(0,0,0,0.85);
    white-space:pre;
}
.carStatsHeadings
{
    background-color:rgba(0,0,0,0.85);
}